<div class="container mt-5">
    <div class="row">
        <h2 class="col-xs-12 col-md-8 offset-md-2 text-center mb-3">Rates</h2>
        <h5 class="col-xs-12 col-md-8 offset-md-2 text-left">1 December - 15 January</h5>
        <p class="col-xs-12 col-md-8 offset-md-2 text-left">R2450 per night and a minimum stay of 14 nights</p>
        <h5 class="col-xs-12 col-md-8 offset-md-2 text-left">Standard rates</h5>
        <p class="col-xs-12 col-md-8 offset-md-2 text-left">R1200 per night and a minimum stay of 5 nights</p>
    </div>
    <div class="row col-xs-12 col-md-10 offset-md-1 text-center mt-4">
        <img src="assets/images/full_quality/keurbooms_river.jpg" alt="">
        <p class="mt-1">The Keurbooms River Lodge with rolling green lawns just a stone throw away from the ocean</p>
    </div>
    <div class="row col-xs-12 col-md-10 offset-md-1 text-center mt-4">
        <img src="assets/images/full_quality/sunset.jpg" alt="">
        <p class="mt-1">A view of the sunset over the Keurbooms River right from your doorstep</p>
    </div>
    <hr class="col-4 offset-4">
</div>